@{
    ViewBag.Title = "OrderDetails";
    Layout = null;
}

<!DOCTYPE html>
<html>
@*<head>
        <title>订单详情</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="http://cdn.kendostatic.com/2014.3.1119/js/jquery.min.js"></script>

        <link href="~/Kendo/styles/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.rtl.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.default.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.dataviz.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet" />
        <link href="~/Kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
        <script src="~/Scripts/js/kendo.all.min.js"></script>
        <link href="~/Content/themes/website-searchbox.css" rel="stylesheet" />
        <link href="~/Content/themes/div-item.css" rel="stylesheet" />

    </head>*@

<body>
    <div data-role="view" id="actionsheet-view" data-title="订单详情" data-reload="true">
        <table style="width:100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        <div class="itemOrderDetail">

                            <h4><b>订单号：</b><a>@ViewBag.OrderNum</a></h4>

                            <h4><b>订单名：</b><a>@ViewBag.OrderName</a></h4>

                            @if (ViewBag.Category == 0)
                            {
                                <h4><b>承接方：</b><a>@ViewBag.OrderSupplier</a></h4>
                            }
                            else
                            {
                                <h4><b>发布方：</b><a>@ViewBag.OrderSupplier</a></h4>
                            }
                        </div>
                        <div class="itemOrderDetail">
                            <div class="item-inside">
                                <p1 align="center"><b>订单描述</b></p1>
                            </div>
                            <h4> @ViewBag.OrderContent</h4>
                            <div class="itembutton-inside">
                                <br><a id="button" onclick="OrderDownload()" data-role="button" name=" OrderDownload">订单下载</a>
                            </div>
                        </div>
                        <div class="itemOrderDetail">
                            <div class="item-inside"><p1 align="center"><b>订单进度</b></p1></div>
                            <table style="width:100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>

                                    <tr>
                                        <td>
                                            <ul id="statusPro">
                                                @foreach (var sta in ViewBag.templist)
                                                {
                                                    <li>
                                                        <h4>
                                                            @sta.orderTime
                                                            @sta.statusContent
                                                        </h4>
                                                    </li>
                                                }
                                            </ul>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="buttons" class="itemOrderDetail">
                            <div class="itembutton-inside">
                                <br>
                                @if (ViewBag.Category == 1)
                                {
                                    <input id="button1" style="width:110px; height:30px" onclick="changeStatus()" value=@ViewBag.NextSta data-role="button" name=" Status"></input>
                                    <input id="button2" onclick="distribution()" value="配送" data-role="button" name=" Status" style="width: 110px; height: 30px;display:none"></input>
                                    <input id="button3" onclick="checkDis()" value="查看配送单" data-role="button" name=" Status" style="width: 110px; height: 30px; display: none"></input>

                                    if (ViewBag.NextSta == "客户全部签收")
                                    {
                                        <script>
                                            document.getElementById("button1").style.display = "none";
                                            document.getElementById("button3").style.display = "";
                                        </script>
                                    }
                                    if (ViewBag.NextSta == "订单生产完成" || ViewBag.NextSta == "配送完成")
                                    {
                                        <script>
                                            document.getElementById("button2").style.display = "";
                                            document.getElementById("button3").style.display = "";
                                        </script>
                                    }
                                    if (ViewBag.NextSta == "客户已评论")
                                    {
                                        <script>
                                            document.getElementById("button1").value = "评价发布方";
                                            document.getElementById("button2").style.display = "none";
                                            document.getElementById("button3").style.display = "none";
                                        </script>
                                    }
                                }
                                else
                                {
                                    <input id="button4" style="width: 110px; height: 30px" onclick="checkDis()" value="查看配送单" data-role="button" name=" checkDis">
                                    <input id="button5" onclick="changeStatus()" value="全部签收" data-role="button" name=" ReciveOrder" style="width: 110px; display: none; height: 30px">
                                    <input id="button6" onclick="changeStatus()" value="评价承接方" data-role="button" name=" Comment" style="width: 110px; display: none; height: 30px">

                                    if (ViewBag.NextSta == "客户已评论")
                                    {
                                        <script>
                                            document.getElementById("button4").style.display = "none";
                                            document.getElementById("button5").style.display = "none";
                                            document.getElementById("button6").style.display = "";
                                        </script>
                                    }
                                    if (ViewBag.NextSta == "客户全部签收")
                                    {
                                        <script>
                                            document.getElementById("button5"), style.display = "";
                                        </script>
                                    }
                                }
                            </div>
                        </div>
                        <div class="itemOrderDetail">
                            <div id="listview" data-role="listview" data-source="dataSrc" class="inboxList"
                                 data-template="infoExchangeTemlpate"></div>
                            <div style="padding: 10px;">
                                <input style=" width:80%" id="message">&nbsp;
                                <a class="button" style=" width:15%" data-role="button" id="messagebutton" onclick="InfoAdd()">留言</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="script/x-kendo-template" id="infoExchangeTemlpate">
               <div class="mylistviewOrderDetail">
                 #if(Category==1)
                {#
                <div style="width:70%"  align="left">
                    <h5>我公司#:Info_Produced_Time#：</h5>
                    <h5>#:OrderInfoContent#</h5>
                </div>
                #}
                else
                {#<div style="width:70%"  align="right">
                    <h5>承接方#:Info_Produced_Time#：</h5>
                    <h5>#:OrderInfoContent#</h5>
                </div>
                #}#
        </div>
    </script>

    <script>
        var category = "@ViewBag.Category";
        var orderId = "@ViewBag.OrderId";

        function changeStatus() {
            $.ajax({
                url: "/../OrderDemo/changeStatus",
                method: "POST",
                data:
                    {
                        option: orderId,
                    },
                error: function (request) {
                    alert("Connection error");
                },
                success: function (msg) {
                    var strhtml = "订单进度";
                    console.info(msg);
                    $.get("/../OrderDemo/OrderStatusChange", { option: orderId },
                       function (result) {
                           var total = result.total - 1;
                           for (var i = 0; i < total; i++) {
                               strhtml += '<div  sytle="background:#32CD32" class="footer1"> <span style="float:left">' + result.rows[i].orderTime + ':--' + result.rows[i].statusContent + '</span></div><br>';
                           }
                           document.getElementById("statusPro").innerHTML = strhtml;
                           console.info(result.rows[total].statusContent);
                           //点击合同签订
                           if (result.rows[total - 1].status == 1) {
                               document.getElementById("button1").value = result.rows[total].statusContent;
                           }

                           //点击完正在生产
                           if (result.rows[total - 1].status == 2) {
                               document.getElementById("button1").value = result.rows[total].statusContent;
                               document.getElementById("button2").style.display = "";
                               document.getElementById("button3").style.display = "";
                           }
                           //点击完生产完成
                           if (result.rows[total - 1].status == 3) {
                               document.getElementById("button1").value = result.rows[total].statusContent;
                               document.getElementById("button2").style.display = "";
                               document.getElementById("button3").style.display = "";
                           }
                           //点击完配送完成
                           if (result.rows[total - 1].status == 4) {
                               document.getElementById("button1").value = result.rows[total].statusContent;
                               document.getElementById("button1").style.display = "none";
                               document.getElementById("button2").style.display = "none";
                           }
                           //点击全部签收
                           if (result.rows[total - 1].status == 5) {
                               document.getElementById("button4").style.display = "none";
                               document.getElementById("button5").style.display = "none";
                               document.getElementById("button6").style.display = "";
                           }
                       });
                }
            });
        }

        function checkDis() {
            kendo.mobile.application.replace("/../Transportation/distributionList?option=" + orderId + "&category=" + category);
        }
        function distribution() {
            kendo.mobile.application.replace("/../Transportation/AddTransportList?option=" + orderId + "&category=" + category);
        }

        var dataSrc = new kendo.data.DataSource({
            transport: {
                read: {
                    type: "POST",
                    url: "/OrderDemo/GetInfoList",
                    data:
                    {
                        option: orderId,
                    },
                    dataType: "json"
                }
            },
        });
        //提交留言
        function InfoAdd() {
            $.post(
            "MessageAdd",
            {
                message: $("#message").val(),
                option: orderId,
            },
            function (data) {
                $("#message").attr("value", "");
                location.reload();
            }
            );

        }
    </script>

    <style scoped>
        .itemOrderDetail h3, h4, h5 {
            font-weight: normal;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .mylistviewOrderDetail h4, h5 {
            margin-bottom: 0px;
            margin-top: 0px;
        }
    </style>
</body>

</html>
